
h2 {
	font-size: 2rem;
}
h3, h4, h5, h6 {
	font-weight: 500;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.1rem;
}
h6 {
	font-size: 1rem;
}
h2 {
	margin-bottom: 0.5rem;
	margin-top: 6rem;
}