<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="workspacer" Language="1033" Version="0.9.7" Manufacturer="Rick Button" UpgradeCode="c153340a-624e-40fc-bfc3-4cb29ca7f267">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<Upgrade Id="c153340a-624e-40fc-bfc3-4cb29ca7f267"/>
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="workspacer" Level="1">
			<ComponentGroupRef Id="workspacer" />
		</Feature>

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
		</UI>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="workspacer"/>
			</Directory>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLDIR" Name="workspacer">
					<Directory Id="PLUGINSDIR" Name="plugins" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
