<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpBBB17A544EBA01A6A9AC65911A0D5B3F" Guid="{620D9602-CCE2-4946-A6B4-8C6C61560350}">
                <File Id="fil4864B860A79B56FED24CC00E00FAFB0B" KeyPath="yes" Source="$(var.SourceDir)\Workspacer.Bar.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Workspacer.Bar">
            <ComponentRef Id="cmpBBB17A544EBA01A6A9AC65911A0D5B3F" />
        </ComponentGroup>
    </Fragment>
</Wix>