#posts {
    max-width: 680px;
}

#top-brand a:hover {
    text-decoration: underline;
}

#top-brand a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.install-link {
    color: rgb(55, 148, 222);
    font-size: 24px;
}

.text-align-center {
    text-align: center;
}