name: test

on:
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Restore solution
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - uses: actions/upload-artifact@v3
      with:
        name: workspacer-build
        path: .\src\workspacer\bin\Release\net6.0-windows\win10-x64
    - name: Test
      run: dotnet test
