name: unstable

on:
  push:
    branches: [ master ]

jobs:
  build-and-prerelease:
    runs-on: windows-latest

    steps:
    # Build
    - uses: actions/checkout@v4
    - name: Get version
      run: Write-Output VERSION="$(([Xml] (Get-Content .\src\workspacer\workspacer.csproj)).Project.PropertyGroup.Version).$(${{ github.run_number }})" >> $env:GITHUB_ENV
    - name: Restore solution
      run: dotnet restore
    - name: Build project
      run: dotnet publish /p:DefineConstants=BRANCH_unstable --configuration Release --no-restore
    - uses: actions/upload-artifact@v3
      with:
        name: Build
        path: .\src\workspacer\bin\Release\net7.0-windows\win10-x64\publish\
    - name: Build installer
      run: |
        $env:PATH += ";${env:WIX}bin" # Add to PATH
        .\scripts\buildinstaller.ps1 -buildDir .\src\workspacer\bin\Release\net7.0-windows\win10-x64\publish\ -version "latest-unstable"
    - uses: actions/upload-artifact@v3
      with:
        name: Setup
        path: .\out\workspacer-latest-unstable.msi
    
    # Release
    - name: Zip build output
      run: Compress-Archive -Path .\src\workspacer\bin\Release\net7.0-windows\win10-x64\publish\* -DestinationPath ".\out\workspacer-latest-unstable.zip"
    - name: Delete existing unstable tag and release
      uses: dev-drprasad/delete-tag-and-release@v1.0.1
      with:
       delete_release: true
       tag_name: unstable
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Prerelease
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: unstable
        title: workspacer ${{ env.VERSION }}
        prerelease: true
        files: |
          out/workspacer-latest-unstable.zip
          out/workspacer-latest-unstable.msi

  deploy-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
      - name: Build
        run: hugo -s ./docs -d ../public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: workspacer.org
